# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.vs
/.vs/dev2
/.vs/dev2/CopilotIndices/17.13.433.20974
/.vs/dev2/CopilotIndices/17.13.433.20974/CodeChunks.db
/.vs/dev2/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
/.vs/dev2/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
/.vs/dev2/CopilotIndices/17.13.433.20974/SemanticSymbols.db
/.vs/dev2/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
/.vs/dev2/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
/.vs/dev2/FileContentIndex
/.vs/dev2/FileContentIndex/d1b3cced-a070-499a-b79d-e93f5d038c01.vsidx
/.vs/dev2/v17
/.vs/dev2/v17/.wsuo
/.vs/dev2/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
