@use "@/styles/variables" as *;

.heroCard {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  gap: 50px;
  border: 1px solid var(--color-stroke);
  box-shadow: 0px 0px 10px 0px #0000001a;
  background: var(--color-dark);
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  z-index: 0;

  @include phone {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    max-width: 320px;
    justify-content: center;
    align-items: center;

    .leftContent {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 488px;
      max-height: 488px;
      border-radius: 20px;
      border: 1px solid transparent;
      .cardImage {
        width: 100%;
        height: 100%;
        object-fit: contain; /* или contain */
        object-position: center;
        border-radius: 20px;
        border: 1px solid transparent;
      }
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .leftContent {
    position: relative;
    display: flex;
    z-index: 0;
    width: 488px;
    height: 488px;
    flex: 0 0 488px;
    min-width: 488px;

    @include phone {
      width: 300px;
      height: 200px;
      flex: 0 0 300px;
      min-width: 300px;
    }

    .imageWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
    }

    .cardImage {
      z-index: 1;
      position: absolute;
      inset: 0;
      object-fit: cover;
      object-position: center;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 250px;
      height: 250px;
      background: #ff7b43;
      filter: blur(80px);
      pointer-events: none;
      z-index: -1;

      @include phone {
        content: "";
        position: absolute;
        top: -50px;
        left: 100px;
        width: 200px;
        height: 200px;
        background: #ff7b43;
        filter: blur(80px);
        pointer-events: none;
        z-index: -1;
      }
    }
  }

  .rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    z-index: 0;

    @include phone {
      gap: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 100px;
      height: 400px;
      background: #8e6cff80;
      filter: blur(100px);
      pointer-events: none;
      z-index: 1;

      @include phone {
        content: "";
        position: absolute;
        top: 450px;
        right: -50px;
        transform: translateY(-50%);
        width: 200px;
        height: 300px;
        background: #8e6cff80;
        filter: blur(100px);
        pointer-events: none;
        z-index: 1;
      }
    }
    .topContent {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include phone {
        gap: 10px;
      }
      .tagsContent {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .tagsTopContent {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .tags {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }
          .saveMark {
            display: inline-flex;
            cursor: pointer;
            svg path {
              transition: stroke 0.2s ease, fill 0.2s ease;
              fill: transparent;
            }
            &.active {
              svg path {
                stroke: #ff7b43;
                fill: #ff7b43;
              }
            }
          }
        }
      }

      .titleContainer {
        .titleCard {
          max-width: 485px;
          width: 100%;

          @include phone {
            font-family: Poppins;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
          }
        }
      }

      .descriptionContainer {
        .descriptionCard {
          max-width: 485px;
          width: 100%;
          color: var(--color-description);

          @include phone {
            font-family: Poppins;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            color: var(--color-descriptionMob);
          }
        }
      }

      .buttons {
        display: inline-flex;
        align-items: center;

        .button {
          border: 1px solid transparent;
          border-radius: 40px;
          width: 140px;
          height: 48px;
        }

        .link {
          width: 48px;
          height: 48px;
          border: 1px solid transparent;
          border-radius: 50%;
          background: #ff7b43;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: -2px;

          &:hover {
            background-color: #f1652a;
          }
        }
      }
    }

    .devider {
      position: relative;
      height: 2px;
      background-color: var(--color-text);
      opacity: 0.2;
      max-width: 485px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color-text);
        transform: translateY(-50%);
      }

      &::before {
        left: -3px;
      }

      &::after {
        right: -3px;
      }
    }

    .bottomContent {
      display: flex;
      align-items: center;
      gap: 10px;
      .avatarWrapper {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 48px;

        .avatar {
          position: absolute;
          inset: 0;
          object-fit: cover;
          object-position: center 10%;
          display: block;
        }
      }

      .avatarDescription {
        display: block;
        color: var(--color-description);

        @include phone {
          color: var(--color-descriptionMob);
        }
      }

      .time {
        display: flex;
        align-items: center;
        gap: 2px;
        @include phone {
          color: var(--color-descriptionMob);
        }
      }
    }
  }
}
