.button {
  overflow: visible;
  position: relative;
  width: 140px;
  height: 48px;
  background: #ff7b43;
  border-radius: 40px !important;
  border: 1px solid transparent !important;
  cursor: pointer;

  &:hover {
    background-color: #f1652a;

    .icon {
      background-color: #f1652a;
    }
  }

  &:active {
    background-color: #d75822;

    .icon {
      background-color: #d75822;
    }
  }
}

.content {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.text {
  padding: 0 16px;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ff7b43;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -52px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s;

  svg {
    width: 20px;
    height: 20px;
  }
}
