@use "@/styles/variables" as *;

.tagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff7b431a;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #ff7b43;
  backdrop-filter: blur(10px);

  &.transperent {
    background: transparent;
    backdrop-filter: blur(10px);
  }

  .text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-text);

    @include phone-min {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
